@import url("https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed");

main {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

* {
    font-weight: normal !important;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: #000;
    color: #adadad;
    font-family: monospace;
}

div {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header {
    text-align: right;
    margin-top: 1em;
}

header h2 {
    margin-top: 0.1em;
    font-style: italic;
}

header h2 em {
    font-style: normal;
}

main h1 {
    font-family: monospace;
}

main h2, main p {
    margin-top: 0.8em;
}

main em, main h2 {
    color: #cecece;
}

ul {
    list-style-type: none;
    padding: 1em;
}

ul li:before {
    color: #93a1a1;
    margin-left: -1em;
}

ul li {
    margin-top: 15px !important;
}

ul li strong {
    display: inline-block;
}

span.hidden {
    font-size: 0%;
}

.color-main {
    color: #7e6afd;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a[title] {
    border-bottom: 1px dashed #ffffff;
    text-decoration: none;
}

.load {
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    background: black;
}


.profile {
    left: 50%;
    top: 13%;
    transform: translate(-50%, -50%);
}

.profile .pfp {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #ef5858;
}

.profile .badges {
    position: absolute;
    right: -30px;
    bottom: -40px;
    gap: 4px;
    display: flex;
    align-items: center;
}

.profile .badges img {
    width: 30px;
    margin: 0 0px;
}

.profile .username {
    position: absolute;
    top: 145%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.term {
    font-family: monospace;
    color: #ffffff;
    opacity: 0.8;
    font-size: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 20px;
}

.term:after {
    content: "_";
    opacity: 1;
    animation: cursor 1s infinite;
    color: #ffffff;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}